<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Video</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4>Mi experiencia</h4>

  <iframe
    width="100%"
    height="538"
    src="https://www.youtube.com/embed/RlKFG6wuPNI"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</ion-content>
