<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sumadora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-input
      type="number"
      id="num1"
      placeholder="Ingrese un numero"
    ></ion-input>
    <ion-input
      type="number"
      id="num2"
      placeholder="Ingrese otro numero"
    ></ion-input>

    <ion-button (click)="sumar()">Mostrar la suma</ion-button>
  </div>
  <div class="container" id="resultado"></div>
</ion-content>
